@import url("https://fonts.googleapis.com/css2?family=Marhey&family=Roboto+Condensed:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --colorBg: #001b2e;
  --colorFont1: #ffefd3;
  --color2: #294c60;
  --colorFont2: #adb6c4;
}
body {
  background-color: var(--colorBg);
  color: var(--colorFont2);
}
header {
  font-family: "Roboto Condensed", sans-serif;

  color: var(--colorFont1);
  display: flex;
  background-color: var(--color2);
  height: 7vh;
  justify-content: center;
  align-items: center;
}
header > nav {
  position: absolute;
}

nav > ul {
  list-style: none;
  display: flex;
}
nav > ul > * {
  margin: 10px;
  font-size: 15pt;
  transition: 0.3s;
}
nav > ul > *:hover {
  position: sticky;
  cursor: pointer;
  color: white;
  border-bottom: solid 1px #ffff;
}
main {
  display: flex;
  position: relative;
  min-height: 100vh;
}
footer {
  background-color: var(--color2);
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  min-height: 5vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: static !important;
}
