@import url("https://fonts.googleapis.com/css2?family=Marhey&family=Roboto+Condensed:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --colorBg: #001b2e;
  --colorFont: #ffefd3;
  --color2: #294c60;
  --color4: ;
}
body {
  background-color: var(--colorBg);
}
header {
  color: var(--colorFont);
  display: flex;
  background-color: var(--color2);
  height: 5vh;
  justify-content: center;
  align-items: center;
}
nav > ul {
  list-style: none;
  display: flex;
}
nav > ul > * {
  font-family: "Marhey", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  margin: 15px;
  font-size: 15pt;
}
